
.mycss{
  border:solid 2px black;
  background-color:#FF8C00;
  padding: 8px 15px;
  color:black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button {
  background-color: #e7e7e7; /* Green */
  border: solid 2px black;
  color: black;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.changeImage{
	background:url(../image/background.jpg) no-repeat center;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.myfont{
	color:white;
	font-size: 20px;
	font-weight:bold;
	display:block;		/*´«¦æ*/
}